.search{
    height: 100vh;
    display: flex;
    width: 100%;
}

.search--center{
    justify-content: center;
    align-items: center;
}

.search--top{
    justify-content: start;
    align-items: flex-start;
}